body {
    background: url("https://img.freepik.com/free-photo/man-riding-wave-sunrise_1098-1523.jpg");
    background-size: cover;
    font-family: 'Sedgwick Ave Display', cursive;}

h1, h2 {
    font-family: 'Dela Gothic One', cursive;
    text-align: center;
    backdrop-filter: sepia(50%);
}

.profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile {
    position: relative;
    text-align: center;
}

.profile > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    backdrop-filter: sepia(50%);
}